DB_USER=root
DB_PASSWORD=change-me
DB_NAME=ai_db
DB_PORT=5432
POSTGRES_VOLUME_NAME=backend_postgres_data
REDIS_PORT=6379
API_PORT=8000
FRONT_PORT=5173
OLLAMA_PORT=11434
OLLAMA_EMBEDDING_MODEL=nomic-embed-text

APP_ENV=development
APP_VERSION=0.0.1
QUOTA_ENABLED=false
OPENAI_API_KEY=
OPENAI_BASE_URL=
EMBED_CLIENT_ID=
EMBED_CLIENT_SECRET=
EMBED_AGENT_ID=0
EMBED_ORIGIN=http://localhost:5173
